<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.design.mapper.sever.ServerUnitServicesMapper">
    <resultMap id="BaseResultMap" type="com.example.design.entity.server.ServerUnitServices">
        <id column="server_unit_services_id" jdbcType="INTEGER" property="serverUnitServicesId"/>
        <result column="server_unit_account_id" jdbcType="INTEGER" property="serverUnitAccountId"/>
        <result column="server_unit_services_helicopter_rental_id" jdbcType="INTEGER"
                property="serverUnitServicesHelicopterRentalId"/>
        <result column="server_unit_services_parachute_flight_id" jdbcType="INTEGER"
                property="serverUnitServicesParachuteFlightId"/>
        <result column="server_unit_services_air_tour_id" jdbcType="INTEGER" property="serverUnitServicesAirTourId"/>
        <result column="server_unit_services_chartered_airplane_id" jdbcType="INTEGER"
                property="serverUnitServicesCharteredAirplaneId"/>
        <result column="server_unit_services_artificial_rainfall_id" jdbcType="INTEGER"
                property="serverUnitServicesArtificialRainfallId"/>
        <result column="server_unit_services_title" jdbcType="VARCHAR" property="serverUnitServicesTitle"/>
        <result column="server_unit_services_img" jdbcType="VARCHAR" property="serverUnitServicesImg"/>
        <result column="server_unit_services_detail" jdbcType="VARCHAR" property="serverUnitServicesDetail"/>
        <result column="server_unit_services_type" jdbcType="VARCHAR" property="serverUnitServicesType"/>
        <result column="server_unit_services_audit_status" jdbcType="VARCHAR" property="serverUnitServicesAuditStatus"/>
        <result column="server_unit_services_release_time" jdbcType="VARCHAR" property="serverUnitServicesReleaseTime"/>
        <result column="server_unit_services_phone" jdbcType="VARCHAR" property="serverUnitServicesPhone"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from server_unit_services
        where server_unit_services_id = #{serverUnitServicesId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.design.entity.server.ServerUnitServices">
        <selectKey keyProperty="serverUnitServicesId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into
        server_unit_services (
        server_unit_services_id,
        server_unit_account_id,
        server_unit_services_helicopter_rental_id,
        server_unit_services_parachute_flight_id,
        server_unit_services_air_tour_id,
        server_unit_services_chartered_airplane_id,
        server_unit_services_artificial_rainfall_id,
        server_unit_services_title,
        server_unit_services_img,
        server_unit_services_detail,
        server_unit_services_type,
        server_unit_services_audit_status,
        server_unit_services_release_time, server_unit_services_phone)
        values (
        #{serverUnitServicesId,jdbcType=INTEGER},
        #{serverUnitAccountId,jdbcType=INTEGER},
        #{serverUnitServicesHelicopterRentalId,jdbcType=INTEGER},
        #{serverUnitServicesParachuteFlightId,jdbcType=INTEGER},
        #{serverUnitServicesAirTourId,jdbcType=INTEGER},
        #{serverUnitServicesCharteredAirplaneId,jdbcType=INTEGER},
        #{serverUnitServicesArtificialRainfallId,jdbcType=INTEGER},
        #{serverUnitServicesTitle,jdbcType=VARCHAR},
        #{serverUnitServicesImg,jdbcType=VARCHAR},
        #{serverUnitServicesDetail,jdbcType=VARCHAR},
        #{serverUnitServicesType,jdbcType=VARCHAR},
        #{serverUnitServicesAuditStatus,jdbcType=VARCHAR},
        NOW()
        , #{serverUnitServicesPhone,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.design.entity.server.ServerUnitServices">
        update server_unit_services
        set server_unit_account_id                      = #{serverUnitAccountId,jdbcType=INTEGER},
            server_unit_services_helicopter_rental_id   = #{serverUnitServicesHelicopterRentalId,jdbcType=INTEGER},
            server_unit_services_parachute_flight_id    = #{serverUnitServicesParachuteFlightId,jdbcType=INTEGER},
            server_unit_services_air_tour_id            = #{serverUnitServicesAirTourId,jdbcType=INTEGER},
            server_unit_services_chartered_airplane_id  = #{serverUnitServicesCharteredAirplaneId,jdbcType=INTEGER},
            server_unit_services_artificial_rainfall_id = #{serverUnitServicesArtificialRainfallId,jdbcType=INTEGER},
            server_unit_services_title                  = #{serverUnitServicesTitle,jdbcType=VARCHAR},
            server_unit_services_img                    = #{serverUnitServicesImg,jdbcType=VARCHAR},
            server_unit_services_detail                 = #{serverUnitServicesDetail,jdbcType=VARCHAR},
            server_unit_services_type                   = #{serverUnitServicesType,jdbcType=VARCHAR},
            server_unit_services_audit_status           = #{serverUnitServicesAuditStatus,jdbcType=VARCHAR},
            server_unit_services_release_time           = #{serverUnitServicesReleaseTime,jdbcType=VARCHAR} server_unit_services_phone                  = #{serverUnitServicesPhone,jdbcType=VARCHAR}
        where server_unit_services_id = #{serverUnitServicesId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.design.entity.server.ServerUnitServices">
        update server_unit_services
        <set>
            <if test="serverUnitAccountId != null">
                server_unit_account_id = #{serverUnitAccountId,jdbcType=INTEGER},
            </if>
            <if test="serverUnitServicesHelicopterRentalId != null">
                server_unit_services_helicopter_rental_id = #{serverUnitServicesHelicopterRentalId,jdbcType=INTEGER},
            </if>
            <if test="serverUnitServicesParachuteFlightId != null">
                server_unit_services_parachute_flight_id = #{serverUnitServicesParachuteFlightId,jdbcType=INTEGER},
            </if>
            <if test="serverUnitServicesAirTourId != null">
                server_unit_services_air_tour_id = #{serverUnitServicesAirTourId,jdbcType=INTEGER},
            </if>
            <if test="serverUnitServicesCharteredAirplaneId != null">
                server_unit_services_chartered_airplane_id = #{serverUnitServicesCharteredAirplaneId,jdbcType=INTEGER},
            </if>
            <if test="serverUnitServicesArtificialRainfallId != null">
                server_unit_services_artificial_rainfall_id =
                #{serverUnitServicesArtificialRainfallId,jdbcType=INTEGER},
            </if>
            <if test="serverUnitServicesTitle != null">
                server_unit_services_title = #{serverUnitServicesTitle,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesImg != null">
                server_unit_services_img = #{serverUnitServicesImg,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesDetail != null">
                server_unit_services_detail = #{serverUnitServicesDetail,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesType != null">
                server_unit_services_type = #{serverUnitServicesType,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesAuditStatus != null">
                server_unit_services_audit_status = #{serverUnitServicesAuditStatus,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesPhone != null">
                server_unit_services_phone = #{serverUnitServicesPhone,jdbcType=VARCHAR}
            </if>
        </set>
        where server_unit_services_id = #{serverUnitServicesId,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select server_unit_services_id,
               server_unit_account_id,
               server_unit_services_helicopter_rental_id,
               server_unit_services_parachute_flight_id,
               server_unit_services_air_tour_id,
               server_unit_services_chartered_airplane_id,
               server_unit_services_artificial_rainfall_id,
               server_unit_services_title,
               server_unit_services_img,
               server_unit_services_detail,
               server_unit_services_type,
               server_unit_services_audit_status,
               server_unit_services_release_time,
               server_unit_services_phone
        from server_unit_services
        where server_unit_services_id = #{serverUnitServicesId,jdbcType=INTEGER}
    </select>

    <select id="selectByAccountKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select server_unit_services_id,
               server_unit_account_id,
               server_unit_services_helicopter_rental_id,
               server_unit_services_parachute_flight_id,
               server_unit_services_air_tour_id,
               server_unit_services_chartered_airplane_id,
               server_unit_services_artificial_rainfall_id,
               server_unit_services_title,
               server_unit_services_img,
               server_unit_services_detail,
               server_unit_services_type,
               server_unit_services_audit_status,
               server_unit_services_release_time,
               server_unit_services_phone
        from server_unit_services
        where server_unit_account_id = #{serverUnitAccountId,jdbcType=INTEGER}
    </select>

    <select id="selectByAccountKeyType" parameterType="java.util.Map" resultMap="BaseResultMap">
        select server_unit_services_id,
               server_unit_account_id,
               server_unit_services_helicopter_rental_id,
               server_unit_services_parachute_flight_id,
               server_unit_services_air_tour_id,
               server_unit_services_chartered_airplane_id,
               server_unit_services_artificial_rainfall_id,
               server_unit_services_title,
               server_unit_services_img,
               server_unit_services_detail,
               server_unit_services_type,
               server_unit_services_audit_status,
               server_unit_services_release_time,
               server_unit_services_phone
        from server_unit_services
        where server_unit_account_id = #{serverUnitAccountId,jdbcType=INTEGER}
          and server_unit_services_type = #{type,jdbcType=VARCHAR}
    </select>

    <select id="selectByStatus" parameterType="String" resultMap="BaseResultMap">
        select server_unit_services_id,
               server_unit_account_id,
               server_unit_services_helicopter_rental_id,
               server_unit_services_parachute_flight_id,
               server_unit_services_air_tour_id,
               server_unit_services_chartered_airplane_id,
               server_unit_services_artificial_rainfall_id,
               server_unit_services_title,
               server_unit_services_img,
               server_unit_services_detail,
               server_unit_services_type,
               server_unit_services_audit_status,
               server_unit_services_release_time,
               server_unit_services_phone
        from server_unit_services
        where server_unit_services_audit_status = #{status,jdbcType=VARCHAR}
    </select>

    <select id="selectByStatusType" parameterType="java.util.Map" resultMap="BaseResultMap">
        select server_unit_services_id,
               server_unit_account_id,
               server_unit_services_helicopter_rental_id,
               server_unit_services_parachute_flight_id,
               server_unit_services_air_tour_id,
               server_unit_services_chartered_airplane_id,
               server_unit_services_artificial_rainfall_id,
               server_unit_services_title,
               server_unit_services_img,
               server_unit_services_detail,
               server_unit_services_type,
               server_unit_services_audit_status,
               server_unit_services_release_time,
               server_unit_services_phone
        from server_unit_services
        where server_unit_services_audit_status = #{status,jdbcType=VARCHAR}
          and server_unit_services_type = #{type,jdbcType=VARCHAR}
    </select>

    <select id="selectByAccountKeyParam" parameterType="java.util.Map" resultMap="BaseResultMap">
        select server_unit_services_id,
        server_unit_account_id,
        server_unit_services_helicopter_rental_id,
        server_unit_services_parachute_flight_id,
        server_unit_services_air_tour_id,
        server_unit_services_chartered_airplane_id,
        server_unit_services_artificial_rainfall_id,
        server_unit_services_title,
        server_unit_services_img,
        server_unit_services_detail,
        server_unit_services_type,
        server_unit_services_audit_status,
        server_unit_services_release_time,
        server_unit_services_phone
        from server_unit_services
        where
        <if test="serverUnitAccountId != null">
            server_unit_account_id = #{serverUnitAccountId,jdbcType=INTEGER}
        </if>
        and (
        <if test="param != null || param != ''">
            <bind name="param" value="'%' + param + '%'"/>
            server_unit_services_title like #{param}
            or server_unit_services_detail like #{param}
            or server_unit_services_type like #{param}
            or server_unit_services_audit_status like #{param}
            or server_unit_services_release_time like #{param}
        </if>
        )
    </select>

    <select id="selectByAccountKeyParamType"
            parameterType="java.util.Map"
            resultMap="BaseResultMap">
        select server_unit_services_id,
        server_unit_account_id,
        server_unit_services_helicopter_rental_id,
        server_unit_services_parachute_flight_id,
        server_unit_services_air_tour_id,
        server_unit_services_chartered_airplane_id,
        server_unit_services_artificial_rainfall_id,
        server_unit_services_title,
        server_unit_services_img,
        server_unit_services_detail,
        server_unit_services_type,
        server_unit_services_audit_status,
        server_unit_services_release_time,
        server_unit_services_phone
        from server_unit_services
        where
        <if test="serverUnitAccountId != null">
            server_unit_account_id = #{serverUnitAccountId,jdbcType=INTEGER}
        </if>
        <if test="type != null">
            and server_unit_services_type = #{type,jdbcType=VARCHAR}
        </if>
        and (
        <if test="param != null || param != ''">
            <bind name="param" value="'%' + param + '%'"/>
            server_unit_services_title like #{param}
            or server_unit_services_detail like #{param}
            or server_unit_services_type like #{param}
            or server_unit_services_audit_status like #{param}
            or server_unit_services_release_time like #{param}
        </if>
        )
    </select>

    <select id="selectByParam" parameterType="String" resultMap="BaseResultMap">
        select server_unit_services_id,
        server_unit_account_id,
        server_unit_services_helicopter_rental_id,
        server_unit_services_parachute_flight_id,
        server_unit_services_air_tour_id,
        server_unit_services_chartered_airplane_id,
        server_unit_services_artificial_rainfall_id,
        server_unit_services_title,
        server_unit_services_img,
        server_unit_services_detail,
        server_unit_services_type,
        server_unit_services_audit_status,
        server_unit_services_release_time,
        server_unit_services_phone
        from server_unit_services
        where
        server_unit_services_audit_status = '待审批'
        <if test="param != null || param != ''">
            <bind name="param" value="'%' + param + '%'"/>
            and (server_unit_services_title like #{param}
            or server_unit_services_detail like #{param}
            or server_unit_services_type like #{param}
            or server_unit_services_release_time like #{param}
            )
        </if>
    </select>

    <select id="selectByParamType" parameterType="java.util.Map" resultMap="BaseResultMap">
        select server_unit_services_id,
        server_unit_account_id,
        server_unit_services_helicopter_rental_id,
        server_unit_services_parachute_flight_id,
        server_unit_services_air_tour_id,
        server_unit_services_chartered_airplane_id,
        server_unit_services_artificial_rainfall_id,
        server_unit_services_title,
        server_unit_services_img,
        server_unit_services_detail,
        server_unit_services_type,
        server_unit_services_audit_status,
        server_unit_services_release_time,
        server_unit_services_phone
        from server_unit_services
        where
        server_unit_services_audit_status = '待审批'
        <if test="type != null">
            and server_unit_services_type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="param != null || param != ''">
            <bind name="param" value="'%' + param + '%'"/>
            and (server_unit_services_title like #{param}
            or server_unit_services_detail like #{param}
            or server_unit_services_type like #{param}
            or server_unit_services_release_time like #{param}
            )
        </if>
    </select>

    <select id="selectByParamUser" parameterType="String" resultMap="BaseResultMap">
        select server_unit_services_id,
        server_unit_account_id,
        server_unit_services_helicopter_rental_id,
        server_unit_services_parachute_flight_id,
        server_unit_services_air_tour_id,
        server_unit_services_chartered_airplane_id,
        server_unit_services_artificial_rainfall_id,
        server_unit_services_title,
        server_unit_services_img,
        server_unit_services_detail,
        server_unit_services_type,
        server_unit_services_audit_status,
        server_unit_services_release_time,
        server_unit_services_phone
        from server_unit_services
        where
        server_unit_services_audit_status = '审批通过'
        <if test="param != null || param != ''">
            <bind name="param" value="'%' + param + '%'"/>
            and (server_unit_services_title like #{param}
            or server_unit_services_detail like #{param}
            or server_unit_services_type like #{param}
            or server_unit_services_release_time like #{param}
            )
        </if>
    </select>

    <select id="selectAllByType"
            parameterType="java.util.Map"
            resultMap="BaseResultMap">
        select server_unit_services_id,
        server_unit_account_id,
        server_unit_services_helicopter_rental_id,
        server_unit_services_parachute_flight_id,
        server_unit_services_air_tour_id,
        server_unit_services_chartered_airplane_id,
        server_unit_services_artificial_rainfall_id,
        server_unit_services_title,
        server_unit_services_img,
        server_unit_services_detail,
        server_unit_services_type,
        server_unit_services_audit_status,
        server_unit_services_release_time,
        server_unit_services_phone
        from server_unit_services
        where
        <if test="param != null">
            server_unit_services_type = #{param}
            and
        </if>
        server_unit_services.server_unit_services_audit_status = '审批通过'
        and server_unit_services.server_unit_services_id in (

            select server_unit_services.server_unit_services_id
        from server_unit_services,server_unit_account,server_unit_company
        where server_unit_services.server_unit_account_id =
              server_unit_account.server_unit_account_id
        and server_unit_account.server_unit_company_id =
            server_unit_company.server_unit_company_id

        and server_unit_company.server_unit_company_audit_status = '审批通过')
        <if test="limit &gt; 0">
            order by server_unit_services_release_time desc LIMIT 0,#{limit}
        </if>
    </select>

    <select id="selectByCompanyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select server_unit_services_id,
               server_unit_account_id,
               server_unit_services_helicopter_rental_id,
               server_unit_services_parachute_flight_id,
               server_unit_services_air_tour_id,
               server_unit_services_chartered_airplane_id,
               server_unit_services_artificial_rainfall_id,
               server_unit_services_title,
               server_unit_services_img,
               server_unit_services_detail,
               server_unit_services_type,
               server_unit_services_audit_status,
               server_unit_services_release_time,
               server_unit_services_phone
        from server_unit_services
        where server_unit_services.server_unit_services_id in (select server_unit_services.server_unit_services_id
                                                               from server_unit_services,
                                                                    server_unit_account,
                                                                    server_unit_company
                                                               where server_unit_services.server_unit_account_id =
                                                                     server_unit_account.server_unit_account_id
                                                                 and server_unit_account.server_unit_company_id =
                                                                     server_unit_company.server_unit_company_id
                                                                 and server_unit_company.server_unit_company_id =
                                                                     #{companyId,jdbcType=INTEGER})
    </select>

</mapper>