<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.design.mapper.sever.ServerUnitServicesAirTourMapper">
    <resultMap id="BaseResultMap" type="com.example.design.entity.server.ServerUnitServicesAirTour">
        <id column="server_unit_services_air_tour_id" jdbcType="INTEGER" property="serverUnitServicesAirTourId"/>
        <result column="server_unit_services_id" jdbcType="INTEGER" property="serverUnitServicesId"/>
        <result column="server_unit_services_air_tour_sightseeing_places" jdbcType="VARCHAR"
                property="serverUnitServicesAirTourSightseeingPlaces"/>
        <result column="server_unit_services_air_tour_duration" jdbcType="VARCHAR"
                property="serverUnitServicesAirTourDuration"/>
        <result column="server_unit_services_air_tour_aircraft_model" jdbcType="VARCHAR"
                property="serverUnitServicesAirTourAircraftModel"/>
        <result column="server_unit_services_air_tour_number_limit" jdbcType="VARCHAR"
                property="serverUnitServicesAirTourNumberLimit"/>
        <result column="server_unit_services_air_tour_boarding_location" jdbcType="VARCHAR"
                property="serverUnitServicesAirTourBoardingLocation"/>
        <result column="server_unit_services_air_tour_price" jdbcType="VARCHAR"
                property="serverUnitServicesAirTourPrice"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from server_unit_services_air_tour
        where server_unit_services_air_tour_id = #{serverUnitServicesAirTourId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.design.entity.server.ServerUnitServicesAirTour">
        <selectKey keyProperty="serverUnitServicesAirTourId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into server_unit_services_air_tour (server_unit_services_air_tour_id, server_unit_services_id,
        server_unit_services_air_tour_sightseeing_places, server_unit_services_air_tour_duration,
        server_unit_services_air_tour_aircraft_model, server_unit_services_air_tour_number_limit,
        server_unit_services_air_tour_boarding_location, server_unit_services_air_tour_price
        )
        values (#{serverUnitServicesAirTourId,jdbcType=INTEGER}, #{serverUnitServicesId,jdbcType=INTEGER},
        #{serverUnitServicesAirTourSightseeingPlaces,jdbcType=VARCHAR},
        #{serverUnitServicesAirTourDuration,jdbcType=VARCHAR},
        #{serverUnitServicesAirTourAircraftModel,jdbcType=VARCHAR},
        #{serverUnitServicesAirTourNumberLimit,jdbcType=VARCHAR},
        #{serverUnitServicesAirTourBoardingLocation,jdbcType=VARCHAR},
        #{serverUnitServicesAirTourPrice,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.design.entity.server.ServerUnitServicesAirTour">
        update server_unit_services_air_tour
        set server_unit_services_id                          = #{serverUnitServicesId,jdbcType=INTEGER},
            server_unit_services_air_tour_sightseeing_places = #{serverUnitServicesAirTourSightseeingPlaces,jdbcType=VARCHAR},
            server_unit_services_air_tour_duration           = #{serverUnitServicesAirTourDuration,jdbcType=VARCHAR},
            server_unit_services_air_tour_aircraft_model     = #{serverUnitServicesAirTourAircraftModel,jdbcType=VARCHAR},
            server_unit_services_air_tour_number_limit       = #{serverUnitServicesAirTourNumberLimit,jdbcType=VARCHAR},
            server_unit_services_air_tour_boarding_location  = #{serverUnitServicesAirTourBoardingLocation,jdbcType=VARCHAR},
            server_unit_services_air_tour_price              = #{serverUnitServicesAirTourPrice,jdbcType=VARCHAR}
        where server_unit_services_air_tour_id = #{serverUnitServicesAirTourId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.design.entity.server.ServerUnitServicesAirTour">
        update server_unit_services_air_tour
        <set>
            <if test="serverUnitServicesId != null">
                server_unit_services_id = #{serverUnitServicesId,jdbcType=INTEGER},
            </if>
            <if test="serverUnitServicesAirTourSightseeingPlaces != null">
                server_unit_services_air_tour_sightseeing_places =
                #{serverUnitServicesAirTourSightseeingPlaces,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesAirTourDuration != null">
                server_unit_services_air_tour_duration = #{serverUnitServicesAirTourDuration,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesAirTourAircraftModel != null">
                server_unit_services_air_tour_aircraft_model =
                #{serverUnitServicesAirTourAircraftModel,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesAirTourNumberLimit != null">
                server_unit_services_air_tour_number_limit = #{serverUnitServicesAirTourNumberLimit,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesAirTourBoardingLocation != null">
                server_unit_services_air_tour_boarding_location =
                #{serverUnitServicesAirTourBoardingLocation,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesAirTourPrice != null">
                server_unit_services_air_tour_price = #{serverUnitServicesAirTourPrice,jdbcType=VARCHAR}
            </if>
        </set>
        where server_unit_services_air_tour_id = #{serverUnitServicesAirTourId,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select server_unit_services_air_tour_id,
               server_unit_services_id,
               server_unit_services_air_tour_sightseeing_places,
               server_unit_services_air_tour_duration,
               server_unit_services_air_tour_aircraft_model,
               server_unit_services_air_tour_number_limit,
               server_unit_services_air_tour_boarding_location,
               server_unit_services_air_tour_price
        from server_unit_services_air_tour
        where server_unit_services_air_tour_id = #{serverUnitServicesAirTourId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select server_unit_services_air_tour_id,
               server_unit_services_id,
               server_unit_services_air_tour_sightseeing_places,
               server_unit_services_air_tour_duration,
               server_unit_services_air_tour_aircraft_model,
               server_unit_services_air_tour_number_limit,
               server_unit_services_air_tour_boarding_location,
               server_unit_services_air_tour_price
        from server_unit_services_air_tour
    </select>
</mapper>