<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.design.mapper.sever.ServerUnitServicesHelicopterRentalMapper">
    <resultMap id="BaseResultMap" type="com.example.design.entity.server.ServerUnitServicesHelicopterRental">
        <id column="server_unit_services_helicopter_rental_id" jdbcType="INTEGER"
            property="serverUnitServicesHelicopterRentalId"/>
        <result column="server_unit_services_id" jdbcType="INTEGER" property="serverUnitServicesId"/>
        <result column="server_unit_services_helicopter_rental_aircraft_model" jdbcType="VARCHAR"
                property="serverUnitServicesHelicopterRentalAircraftModel"/>
        <result column="server_unit_services_helicopter_rental_price" jdbcType="VARCHAR"
                property="serverUnitServicesHelicopterRentalPrice"/>
        <result column="server_unit_services_helicopter_rental_phone" jdbcType="VARCHAR"
                property="serverUnitServicesHelicopterRentalPhone"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from server_unit_services_helicopter_rental
        where server_unit_services_helicopter_rental_id = #{serverUnitServicesHelicopterRentalId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.design.entity.server.ServerUnitServicesHelicopterRental">
        <selectKey keyProperty="serverUnitServicesHelicopterRentalId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into server_unit_services_helicopter_rental (server_unit_services_helicopter_rental_id,
        server_unit_services_id,
        server_unit_services_helicopter_rental_aircraft_model, server_unit_services_helicopter_rental_price,
        server_unit_services_helicopter_rental_phone)
        values (#{serverUnitServicesHelicopterRentalId,jdbcType=INTEGER}, #{serverUnitServicesId,jdbcType=INTEGER},
        #{serverUnitServicesHelicopterRentalAircraftModel,jdbcType=VARCHAR},
        #{serverUnitServicesHelicopterRentalPrice,jdbcType=VARCHAR},
        #{serverUnitServicesHelicopterRentalPhone,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.design.entity.server.ServerUnitServicesHelicopterRental">
        update server_unit_services_helicopter_rental
        set server_unit_services_id                               = #{serverUnitServicesId,jdbcType=INTEGER},
            server_unit_services_helicopter_rental_aircraft_model = #{serverUnitServicesHelicopterRentalAircraftModel,jdbcType=VARCHAR},
            server_unit_services_helicopter_rental_price          = #{serverUnitServicesHelicopterRentalPrice,jdbcType=VARCHAR},
            server_unit_services_helicopter_rental_phone          = #{serverUnitServicesHelicopterRentalPhone,jdbcType=VARCHAR}
        where server_unit_services_helicopter_rental_id = #{serverUnitServicesHelicopterRentalId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.example.design.entity.server.ServerUnitServicesHelicopterRental">
        update server_unit_services_helicopter_rental
        <set>
            <if test="serverUnitServicesId != null">
                server_unit_services_id = #{serverUnitServicesId,jdbcType=INTEGER},
            </if>
            <if test="serverUnitServicesHelicopterRentalAircraftModel != null">
                server_unit_services_helicopter_rental_aircraft_model =
                #{serverUnitServicesHelicopterRentalAircraftModel,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesHelicopterRentalPrice != null">
                server_unit_services_helicopter_rental_price =
                #{serverUnitServicesHelicopterRentalPrice,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesHelicopterRentalPhone != null">
                server_unit_services_helicopter_rental_phone =
                #{serverUnitServicesHelicopterRentalPhone,jdbcType=VARCHAR}
            </if>
        </set>
        where server_unit_services_helicopter_rental_id = #{serverUnitServicesHelicopterRentalId,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select server_unit_services_helicopter_rental_id,
               server_unit_services_id,
               server_unit_services_helicopter_rental_aircraft_model,
               server_unit_services_helicopter_rental_price,
               server_unit_services_helicopter_rental_phone
        from server_unit_services_helicopter_rental
        where server_unit_services_helicopter_rental_id = #{serverUnitServicesHelicopterRentalId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select server_unit_services_helicopter_rental_id,
               server_unit_services_id,
               server_unit_services_helicopter_rental_aircraft_model,
               server_unit_services_helicopter_rental_price,
               server_unit_services_helicopter_rental_phone
        from server_unit_services_helicopter_rental
    </select>
</mapper>