<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.design.mapper.sever.ServerUnitServicesArtificialRainfallMapper">
    <resultMap id="BaseResultMap" type="com.example.design.entity.server.ServerUnitServicesArtificialRainfall">
        <id column="server_unit_services_artificial_rainfall_id" jdbcType="INTEGER"
            property="serverUnitServicesArtificialRainfallId"/>
        <result column="server_unit_services_id" jdbcType="INTEGER" property="serverUnitServicesId"/>
        <result column="server_unit_services_artificial_rainfall_aircraft_model" jdbcType="VARCHAR"
                property="serverUnitServicesArtificialRainfallAircraftModel"/>
        <result column="server_unit_services_artificial_rainfall_catalyzer" jdbcType="VARCHAR"
                property="serverUnitServicesArtificialRainfallCatalyzer"/>
        <result column="server_unit_services_artificial_rainfall_max_dose" jdbcType="VARCHAR"
                property="serverUnitServicesArtificialRainfallMaxDose"/>
        <result column="server_unit_services_artificial_rainfall_price" jdbcType="VARCHAR"
                property="serverUnitServicesArtificialRainfallPrice"/>
        <result column="server_unit_services_artificial_rainfall_phone" jdbcType="VARCHAR"
                property="serverUnitServicesArtificialRainfallPhone"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from server_unit_services_artificial_rainfall
        where server_unit_services_artificial_rainfall_id = #{serverUnitServicesArtificialRainfallId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.design.entity.server.ServerUnitServicesArtificialRainfall">
        <selectKey keyProperty="serverUnitServicesArtificialRainfallId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into server_unit_services_artificial_rainfall (server_unit_services_artificial_rainfall_id,
        server_unit_services_id,
        server_unit_services_artificial_rainfall_aircraft_model, server_unit_services_artificial_rainfall_catalyzer,
        server_unit_services_artificial_rainfall_max_dose, server_unit_services_artificial_rainfall_price,
        server_unit_services_artificial_rainfall_phone)
        values (#{serverUnitServicesArtificialRainfallId,jdbcType=INTEGER}, #{serverUnitServicesId,jdbcType=INTEGER},
        #{serverUnitServicesArtificialRainfallAircraftModel,jdbcType=VARCHAR},
        #{serverUnitServicesArtificialRainfallCatalyzer,jdbcType=VARCHAR},
        #{serverUnitServicesArtificialRainfallMaxDose,jdbcType=VARCHAR},
        #{serverUnitServicesArtificialRainfallPrice,jdbcType=VARCHAR},
        #{serverUnitServicesArtificialRainfallPhone,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.design.entity.server.ServerUnitServicesArtificialRainfall">
        update server_unit_services_artificial_rainfall
        set server_unit_services_id                                 = #{serverUnitServicesId,jdbcType=INTEGER},
            server_unit_services_artificial_rainfall_aircraft_model = #{serverUnitServicesArtificialRainfallAircraftModel,jdbcType=VARCHAR},
            server_unit_services_artificial_rainfall_catalyzer      = #{serverUnitServicesArtificialRainfallCatalyzer,jdbcType=VARCHAR},
            server_unit_services_artificial_rainfall_max_dose       = #{serverUnitServicesArtificialRainfallMaxDose,jdbcType=VARCHAR},
            server_unit_services_artificial_rainfall_price          = #{serverUnitServicesArtificialRainfallPrice,jdbcType=VARCHAR},
            server_unit_services_artificial_rainfall_phone          = #{serverUnitServicesArtificialRainfallPhone,jdbcType=VARCHAR}
        where server_unit_services_artificial_rainfall_id = #{serverUnitServicesArtificialRainfallId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.example.design.entity.server.ServerUnitServicesArtificialRainfall">
        update server_unit_services_artificial_rainfall
        <set>
            <if test="serverUnitServicesId != null">
                server_unit_services_id = #{serverUnitServicesId,jdbcType=INTEGER},
            </if>
            <if test="serverUnitServicesArtificialRainfallAircraftModel != null">
                server_unit_services_artificial_rainfall_aircraft_model =
                #{serverUnitServicesArtificialRainfallAircraftModel,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesArtificialRainfallCatalyzer != null">
                server_unit_services_artificial_rainfall_catalyzer =
                #{serverUnitServicesArtificialRainfallCatalyzer,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesArtificialRainfallMaxDose != null">
                server_unit_services_artificial_rainfall_max_dose =
                #{serverUnitServicesArtificialRainfallMaxDose,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesArtificialRainfallPrice != null">
                server_unit_services_artificial_rainfall_price =
                #{serverUnitServicesArtificialRainfallPrice,jdbcType=VARCHAR},
            </if>
            <if test="serverUnitServicesArtificialRainfallPhone != null">
                server_unit_services_artificial_rainfall_phone =
                #{serverUnitServicesArtificialRainfallPhone,jdbcType=VARCHAR}
            </if>
        </set>
        where server_unit_services_artificial_rainfall_id = #{serverUnitServicesArtificialRainfallId,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select server_unit_services_artificial_rainfall_id,
               server_unit_services_id,
               server_unit_services_artificial_rainfall_aircraft_model,
               server_unit_services_artificial_rainfall_catalyzer,
               server_unit_services_artificial_rainfall_max_dose,
               server_unit_services_artificial_rainfall_price,
               server_unit_services_artificial_rainfall_phone
        from server_unit_services_artificial_rainfall
        where server_unit_services_artificial_rainfall_id = #{serverUnitServicesArtificialRainfallId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select server_unit_services_artificial_rainfall_id,
               server_unit_services_id,
               server_unit_services_artificial_rainfall_aircraft_model,
               server_unit_services_artificial_rainfall_catalyzer,
               server_unit_services_artificial_rainfall_max_dose,
               server_unit_services_artificial_rainfall_price,
               server_unit_services_artificial_rainfall_phone
        from server_unit_services_artificial_rainfall
    </select>
</mapper>